/* Katschmarsky version */

[data-theme="dark"] {
  background-color: #121212 !important;
  color: #FBFCFC;
}

[data-theme="dark"] .bg-light {
  background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
  background-color: #eee !important;
}

[data-theme="dark"] .card {
  background-color: #1B2631  !important;
  color: white;
}

[data-theme="dark"] footer {
  background-color: #1B2631  !important;
  color: #F7F9F9;
}

[data-theme="dark"] .custom-control-label {
  color: white;
}

[data-theme="dark"] #orange { 
			  background-color: #1C2833;
  			color: white;
		}

[data-theme="dark"] p {
  color: #F7F9F9;
}

[data-theme="dark"] a, ul, li, .fab, .fa-bars:before {
  color: #82E0AA;
}

[data-theme="dark"] .custom-control-input:checked~.custom-control-label::before {
  background-color: #82E0AA;
  border: 2px solid #82E0AA;
}







